body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    padding: 10px 0;
    text-align: center;
  }

  header h1 {
    margin: 0;
    font-size: 2.5em;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    .suyoolheadertitle {
      color: #3c739b;
      margin-top: 4rem;
      font-family: $Regular;
      font-size: 50px;
      margin-bottom: 20px;
    }
  }

  .button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 31px;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: none;

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    button {
      flex-shrink: 0;
      border-radius: 50px;
      width: 135px;
//       height: 35px;
      cursor: pointer;
      border: none;
      text-align: center;
      background-color: #e8e8ee;
      color: #505a63;
      font-family: $Medium;
      font-size: 15px;
    }
    .button-active {
      background-color: #f5f6fd;
      flex-shrink: 0;
      border-radius: 50px;
      cursor: pointer;
      border: none;
      text-align: center;
      color: #505a63;
      font-family: $Medium;
      font-size: 15px;
      width: 135px;
//       height: 35px;
    }
  }

  main {
    width: 100%;
    margin-top: 20px;
    .show-more-button {
      border: none;
      text-align: center;
      width: 100%;
      background: none;
      font-family: $Medium;
      font-size: 19px;
    }

    #blog-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;

      .blog-post {
        background: #f7f7f7;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        width: 100%;
        height: 500px;
        cursor: pointer;
	max-width: 600px;


        // Adding this media query for responsiveness
        @media (max-width: 768px) {
          flex: 1 1 calc(100% - 1rem); // Cards take full width on smaller screens
        }

        @media (min-width: 769px) and (max-width: 1024px) {
          flex: 1 1 calc(48% - 1rem); // Cards take half width on medium screens
        }
        .img-blog {
          width: 100%;
          height: 280px;
          background: #3c739b7c;
          border-radius: 26px;
          opacity: 1;
          object-fit: cover;
        }
        .body-blog {
          padding: 20px;
          .blog-category {
            font-size: 17px;
            font-family: $Medium;
          }
          .blog-title {
            font-size: 25px;
            font-family: $Medium;
          }
          .blog-created {
            font-size: 16px;
            font-family: $Regular;
          }
        }
      }
      .blog-post:nth-child(-n + 4) {
        width: calc(48% - 1rem); /* 48% width for two items per row */
      }
      .blog-post:nth-child(n + 5) {
        width: calc(32% - 1rem); /* 32% width for three items per row */
      }
    }
  }
}

#blogpage {
  #blogtitle {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px; // Adjust the height as needed
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;

    .blogtitle-content {
      h1 {
        margin: 0;
        font-size: 2.5rem; // Adjust the font size as needed
      }

      p {
        margin: 5px 0;
      }
    }
  }

  .blogcontentTitle {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    .blogcontentTitle-content {
      .blog-title {
        font-size: 25px;
        font-family: $Bold;
      }
      .dategap {
        .categoryAndDate {
          color: #505a63;
          font-family: $InterRegular;
          font-size: 15px;
        }
        .author-blog {
          color: #426e97;
          font-family: $InterRegular;
          font-size: 15px;
        }
      }
    }
    .dategap {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;

      .categoryAndDate {
        display: flex;
        gap: 1rem;
        padding-bottom: 5px;
      }
    }
  }
  .blogcontent {
    //     padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 5rem;
    p {
      color: #191c1f;
      font-family: $Regular;
      font-size: 18px;
    }

    .blog-post-content {
      margin-bottom: 20px;

      h2 {
        margin-top: 0;
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
